@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');


/* Main view setup*/

html {
    min-height: 100%;
    position: relative;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('assets/images/background-image.jpg');
    font-family: 'Handlee';
    color: #fff;
    margin: 0;
}

/* Header and footer */

header {
    text-align: center;
    height: 50px;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-height: 80px;
    padding-top: 5px;
    text-align: center;
    color: #fff;
    background-color: #7a7676;
}

/* Game area */

.game-area {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.control {
    display: inline-block;
    margin: 2px;
    width: 80px;
    height: 40px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-content {
    text-align: center;
    background-color: #3ad8d5;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.player {
    background-color: #afe6ad;
    float: left;
    width: 45%;
}

img {
    width: 100px;
    height: 100px;
    display: none;
}
.computer {
    background-color: #672fd9;
    float: right;
    width: 45%;
}